1. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [41]:
#To print prime numbers of 7 but not Multiple of 5

#iterate over numbers in range

for number in range (1000,3200):
    
    #check the conditions
    
    if number %7==0 and number %5!=0:
        
    #Obtain the numbers
        
        print(str(number)+',') #because you can't concantinate an integar and string, so convert int to str then concantinate

1001,
1008,
1022,
1029,
1036,
1043,
1057,
1064,
1071,
1078,
1092,
1099,
1106,
1113,
1127,
1134,
1141,
1148,
1162,
1169,
1176,
1183,
1197,
1204,
1211,
1218,
1232,
1239,
1246,
1253,
1267,
1274,
1281,
1288,
1302,
1309,
1316,
1323,
1337,
1344,
1351,
1358,
1372,
1379,
1386,
1393,
1407,
1414,
1421,
1428,
1442,
1449,
1456,
1463,
1477,
1484,
1491,
1498,
1512,
1519,
1526,
1533,
1547,
1554,
1561,
1568,
1582,
1589,
1596,
1603,
1617,
1624,
1631,
1638,
1652,
1659,
1666,
1673,
1687,
1694,
1701,
1708,
1722,
1729,
1736,
1743,
1757,
1764,
1771,
1778,
1792,
1799,
1806,
1813,
1827,
1834,
1841,
1848,
1862,
1869,
1876,
1883,
1897,
1904,
1911,
1918,
1932,
1939,
1946,
1953,
1967,
1974,
1981,
1988,
2002,
2009,
2016,
2023,
2037,
2044,
2051,
2058,
2072,
2079,
2086,
2093,
2107,
2114,
2121,
2128,
2142,
2149,
2156,
2163,
2177,
2184,
2191,
2198,
2212,
2219,
2226,
2233,
2247,
2254,
2261,
2268,
2282,
2289,
2296,
2303,
2317,
2324,
2331,
2338,
2352,
2359,
2366,
2373,
2387,
2394,
2401,
2408,
2422,
2429,
2436,
2443,
2457,
2464,
2471,
2478,
2492,
2499,
2506,
2513,
2527,
2534,
2541,
2548,
2562,
2569,
2576,
2583,
2597,
2604,
2611,
2618,
2632,
2639,
2646,
2653,
2667,
2674,
2681,
2688,
2702,
2709,
2716,
2723,
2737,
2744,
2751,
2758,
2772,
2779,
2786,
2793,
2807,
2814,
2821,
2828,
2842,
2849,
2856,
2863,
2877,
2884,
2891,
2898,
2912,
2919,
2926,
2933,
2947,
2954,
2961,
2968,
2982,
2989,
2996,
3003,
3017,
3024,
3031,
3038,
3052,
3059,
3066,
3073,
3087,
3094,
3101,
3108,
3122,
3129,
3136,
3143,
3157,
3164,
3171,
3178,
3192,
3199,

2. Write a Python program to accept the user's first and last name and then getting them printed in the the reverse order with a space between first name and last name

In [7]:
#Program input and print First name and Last name in reverse order

name = input("Enter your First and Lastname :")
name = name.split(sep=" ")

#output in reverse order
print(name[1],name[0])

Enter your First and Lastname :Waheed Tijani
Tijani Waheed

3.Write a Python program to find the volume of a sphere with diameter 12 cm.  
 
Formula: V=4/3 * π * r 3

In [6]:
#Program to find the volume of a sphere with diameter 12 cm.

#Formula: V=4/3 * π * r 3


pi=22/7 

diameter = 12

radian = diameter/2

# compute volume

volume = ((4/3) * (pi) * (radian ** 3))

#output: Volume  

print("Volume is: ", volume)

Volume is:  905.142857142857

4.Write a program which accepts a sequence of comma-separated numbers from console and generate a list.

In [5]:
#Program accepts sequence of comma-seperated numbers

values = input("Input some comma seprated numbers : ") #Input from keyboard
list = values.split(",")

#List output
print('List : ',list )

Input some comma seprated numbers : 10,20,48,57,11,2,0
List :  ['10', '20', '48', '57', '11', '2', '0']

5. Create the below pattern using nested for loop in Python. 
 
 
*  
* *  
* * * 
* * * *  
* * * * *  
* * * *  
* * *  
* *  
*

In [3]:
#Program Creare a Pattern using nested loop

        
for row in range (0,5):  #Specify Loop limit
    for column in range (0, row+1):
        
        print ("* ", end="")
        
    print('\r')
    
    #Reverse the Pattern
for row in range (5,0,-1):
        
    for column in range (0, row-1):
            
            print ("* ", end="")   
        
    # ending row     
    print ('\r')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

6. Write a Python program to reverse a word after accepting the input from the user. 
 
Sample Output: 
 
Input word: iNeuron 
 
Output: norueNi

In [4]:
word = input("Input a word to reverse: ")

for char in range(len(word) - 1, -1, -1):
  print(word[char], end="")
print("\n")

Input a word to reverse: TIJANI
INAJIT

7. Write a Python Program to print the given string in the format specified in the ​sample output. 
 WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens 
 
Sample Output: 
 
WE, THE PEOPLE OF INDIA,   having solemnly resolved to constitute India into a SOVEREIGN, !  SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC    and to secure to all its citizens

In [ ]:
#Program print string in specific format

print ('WE'+', '+ 'THE PEOPLE OF INDIA'+', ' + 'having solemly resolved to constitute India into a SOVEREIGN'+', '+'SOCIALIST'+', '+'SECULAR'+', '+'DEMOCRACY REPUBLIC and to secure to all its citizens')

Note : - NOTE:​ ​The​ ​solution​ ​shared​ ​through​ ​Github​ ​should​ ​contain​ ​the​ ​source code​ ​used​ ​ and​  ​the​ ​output